// #Mixins
=btn-default($color: $default)
  .btn
    outline: none
    background: transparent
    display: inline-block
    text-align: center
    cursor: pointer

    @if $color == transparent
      border: 1px solid $border

      &:hover   
        border: 1px solid darken($border, 20%)

    @else 
      &:hover
        background-color: darken($color, 10%)

=btn-filled($prop)   
  @each $name, $color in $prop
    .btn--#{$name}
      border: none
      background-color: $color

      &:hover
        background-color: darken($color, 10%)

=header-defaults()
 @each $item in $header-sizes
  $header: map-get($item, header)
  $font-size: map-get($item, size)
  $line-height: map-get($item, leading)
  .#{$header}
    font-size: $font-size
    line-height: $line-height 
    margin-top: 0px
    margin-bottom: round( 0.75 * $font-size )

=container-defaults($padding: $grid-gap)
  .container
    margin: 0 auto
    padding: 0px $padding
    width: 100%

=container-widths($breakpoint, $max-width)
  @media screen and ( min-width: $breakpoint)
    .container
      max-width: $max-width

=flex-row($jc: flex-start, $align-items: flex-start, $wrap: no-wrap)
  display: flex
  @if $jc == true
    justify-content: flex-start 
  @else 
    justify-content: $jc
  @if $align-items == true 
    align-items: flex-start
  @else 
    align-items: $align-items
  @if $wrap == true 
    flex-wrap: wrap
  @else 
    flex-wrap: $wrap

=flex-grid($type, $columns, $breakpoint)
  @media screen and (min-width: $breakpoint)
    @for $i from 1 through $columns
      $num: $i
      $class: #{$grid-name}#{$type}-#{$num}   
      .#{$class}
        width: calc(100% / (#{$num} / 12)) 

=flex-grid-ready($name: $grid-name, $gap: $grid-gap)
  [class^=#{$name}]
    box-sizing: border-box
    width: 100%
    padding: 0px $gap

=mQD($width)
  @each $val in $width
    @media screen and (max-width: #{$val})
      @content

=mQM($width)
  @each $val in $width
    @media screen and (min-wdth: #{$val})
      @content

=padding($amount)
  @for $pad-amount from 1 through $amount
    .pad--#{$pad-amount}
      padding: $pad-amount

    .pad--top-#{$pad-amount}
      padding-top: #{$pad-amount}px
    
    .pad--right-#{$pad-amount}
      padding-right: #{$pad-amount}px

    .pad--bottom-#{$pad-amount}
      padding-bottom: #{$pad-amount}px

    .pad--left-#{$pad-amount}
      padding-left: #{$pad-amount}px
     

=position($position, $cords)
  position: $position
  @each $prop, $value in $cords
    $prop: $value
  
=trans($property, $time)
  transition: $property $time ease

=size($width: null, $height: null)
  @if $width
    top: $width
  @if $height
    top: $height
  